<div class="hero-section grid-x align-middle">
    <div class="hero-section-text cell small-12">
        <h1 class="caps shadow">explore asia</h1>
        <div class="input-group input-group-rounded">
            <input class="input-field search-field input-group-field noborder"
                placeholder="Search by destination, activity or attraction" type="search" name="search">
            <div class="input-group-button">
                <button class="button header-search search roundcircle right pr" id="btn-search-keyword">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>