<div class="footer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-3 small-12 cell text-left">
                <h5>Wonderfly</h5>
                <ul class="menu vertical">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Partner with Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="medium-3 small-12 cell text-left">
                <h5>Terms of Use</h5>
                <ul class="menu vertical">
                    <li><a href="#">Terms &amp; Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cancelation Policy</a></li>
                </ul>
            </div>
            <div class="medium-3 small-12 cell text-center">
                <h5>connect with us</h5>
                <ul class="ml0 text-center">
                    <a href="#"><i class="fa fa-twitter txt20 pr2" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook txt20 pr2" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram txt20" aria-hidden="true"></i></a>
                </ul>
            </div>
            <div class="medium-3 small-12 cell text-center">
                <h5>Partner with us</h5>
                <img class="partner" src="https://www.wonderfly.asia/wonderfly/dist/img/visa.png">
                <img class="partner" src="https://www.wonderfly.asia/wonderfly/dist/img/master.png">
            </div>
        </div>
        <div class="grid-x grid-margin-x mt3">
            <div class="small-12 cell text-left ">
                <hr class="grey max">
                <p>&copy; 2016-2019 Wonderfly Holdings Sdn Bhd. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
</div>