<nav class="scrollhide-nav">
    <div class="top-bar ">
        <div class="top-bar-left">
            <img class="logo" src="assets/img/logo.webp">
        </div>
        <div class="top-bar-right flex-row-right">
            <ul class="menu flex float-right">
                <li>
                    <ul class="dropdown menu text-left flex" data-dropdown-menu>
                        <li>
                            <a href="#">MYR</a>
                            <ul class=" horizontal nested">
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li>
                                    <a href="#">SGD</a>
                                </li>
                                <li>
                                    <a href="#">HKD</a>
                                </li>
                                <li>
                                    <a class="noborder" href="#">TWD</a>
                                </li>

                            </ul>
                        </li>
                        <li class="profile">
                            <a class="noarrow" href="#">
                                <div class="profile-card flex">
                                    <div class="profile-card-avatar">

                                        <img class="avatar-image" src="https://i.imgur.com/3AeQRbR.jpg" alt="John Doe">

                                    </div>
                                    <div class="profile-card-user">
                                        <p class="author-description">John Doe</p>
                                    </div>
                                </div>
                            </a>
                            <ul class="horizontal nested text-left">
                                <li>
                                    <a href="#"><i class="fa fa-user-circle"></i> My Account</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-ticket"></i> Booking</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-heart"></i> Wishlist</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-cog"></i> Wishlist</a>
                                </li>
                                <li>
                                    <a class="noborder" href="#"><i class="fa fa-sign-out"></i> Log
                                        Out</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>